@font-face {
    font-family: GenSenRounded-B;
    src: url(../images/font/GenSenRounded-B.ttc);
}

@font-face {
    font-family: GenSenRounded-R;
    src: url(../images/font/GenSenRounded-R.ttc);
}


body {
    font-family: 'Caveat', cursive, GenSenRounded-B, GenSenRounded-R;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

p {
    margin: 0;
    padding: 0;
}